<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="connectivity">
	<uses-sdk android:minSdkVersion="15" />
	<application android:label="connectivity">
	</application>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
</manifest>
